<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
        <add key="topo-github-packages" value="https://nuget.pkg.github.com/toposolutions/index.json" />
        <!-- <add key="paulalves-github-packages" value="https://nuget.pkg.github.com/paulalves/index.json" /> -->
    </packageSources>

    <packageSourceCredentials>
        <github>
            <add key="Username" value="%GH_TOPO_USER%" />
            <add key="ClearTextPassword" value="%GH_TOPO_PAT%" />
        </github>
    </packageSourceCredentials>
</configuration>